@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}
.hero_and_nav_section{
    background-image: url("./heroback5.png");
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 580px;
}
nav{
    padding: 20px;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: center; 
    background-color: transparent;
}
nav div a{
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    color: rgb(142, 144, 146);
    cursor: pointer;
    margin: 20px;
    font-size: 19px;
    font-weight: 500;
    background-color: transparent;
}
nav div a:hover{
    color: #40a4df;
    font-size: 22px;
    transition: 4ms;
    font-weight: 500;
}
.my_image{
    width: 100%;
    height: 100%;
    animation: glowing 2s infinite;
}

@keyframes glowing{

    0%{
        filter: brightness(100%);
    }

    50%{
        filter: brightness(150%);
    }

    100%{
        filter: brightness(100%);
    }

}
.main_body_section{
    width: 100%;
    height: 100%;
    flex-wrap: wrap-reverse;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent  ;
}

.main_body_info{
   color: antiquewhite;
   display: flex;
   flex-direction: column;
   row-gap: 5px;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   height: 100%;
   width: 50%;
}
.main_body_image_and_name_div{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order:23;
}


.my_name_at_logo{
    display: none;
    position:absolute;
    top:70%;
    left: 40px;
}

@media screen and (max-width: 600px) {
    .my_name_at_logo {
        display: block;
        position: absolute;
        line-height: 40px;
        top: 70%;
        left: 40px;
    }
    .new_para{
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    nav div a{
        font-size: 15px;
    }
}

.name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:35px;
    color: rgb(101, 110, 121);
    animation: open 1.5s ease;
    font-weight: 600;
}

@keyframes open{
    from{
        opacity:0;
        transform:translateX(-200px);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }
}
.yash{
    color: #40a4df;
    background-color: transparent;
}
.desc{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(132, 132, 127);
    font-size: 15px;
    background-color: transparent;
}


@media screen and (max-width:1070px){
    .name{
        font-size: 25px;
    }
    .desc{
        font-size: 12px;
    }
     
    
}

@media screen and (max-width:750px){
    .name{
        font-size: 20px;
    }
    .desc{
        font-size: 10px;
    }
}

@media screen and (max-width:600px){
    
    .main_body_image_and_name_div{
        width: 400px;
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
    .main_body_info{
        display: none;
    }
}

.main_sec_button1{
    background-color:transparent;
    padding: 15px;
    margin:20px;
    width: 100px;
    color: azure;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
}
.main_sec_button1:hover,.main_sec_button2:hover{
    font-size: 15px;
}
.main_sec_button2{
    background-color: #40a4df;
    width: 150px;
    padding: 15px;
    border: 1px solid ;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
}
@media  screen and (max-width:800px) {
    .main_sec_button1{
        display: none;
    }
    .main_sec_button1,.main_sec_button2{
        width: 100px;
        height: 50px;
    }

}
div , p , h1 , h2 , h3 , img{
    background-color: transparent;
}
/* .skills_section{
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-image: url("./skillsImages/skillbackgroundimg.png");
}
.skills_headlines{
    margin: 0px;
}
.skills_section_head{
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 55px;
    text-align: center;
    color: azure;
}
.power{
    color: #40a4df;
    background-color: transparent;
}
.skills_section_desc{
     font-family: 'Inter', sans-serif;
     font-weight: 400;
     box-sizing: border-box;
     text-align: center;
     font-size: 18px;
     color: azure;
     letter-spacing: 0.5px;
}
.skills_row_one{
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
@media(max-width:1500px){
    .skills_row_one{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media(max-width:1000px){
    .skills_row_one{
        grid-template-columns: repeat(1,1fr);
    }
    
} 
div , p , h1 , h2 , h3 , img{
    background-color: transparent;
}
.skills_box{
    border: 1px solid rgb(49, 48, 48);
    border-radius: 12px;
    width: 300px;
    height: 400px;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7px;
    box-shadow: 10px 10px 10px rgba(56, 65, 124, 0.459);
    background-color:rgb(17, 17, 36);
}
.skills_box:hover{
    cursor: pointer;
    zoom: 1.02;
}
.skill_logo_name_div{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    

}
.skill_box_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 26, 24);
    border-radius: 8px;
    
}
.skill_logo_image{
    background-color: transparent;
    display: inline-block;
    object-fit: cover;
    object-position: center;

}
.skill_name_box{
    padding: 24px 10px 10px;
    color: aliceblue;
    font-size: 18px;
    font-family: 'Inter', sans-serif;

}
.skill_box_para{
    color:white;
    font-size: 14px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    line-height: 25px;
    margin-bottom: 25px;

}
.apps_div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}
.app_image_name_div{
    text-align: center;
}
.app_image_box{
    width: 100%;
    border: 1px solid rgb(56, 55, 55);
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: rgba(29, 30, 41, 0.749);
}
.app_image{
    background-color: transparent;
    width: 40px;
    height: 40px;
}
.app_name_box{
    text-align: center;
}
.app_name{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: antiquewhite;
} */



.about{
    margin-bottom: 70px;
    position: relative;
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(47, 87, 110);
    
}

.about_main_section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.about_image_name_passion_section{
    display: flex;
    width: 45%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0px;
    margin-top: 30px;
    position: relative;

}
.active{
    position: absolute;
    left: 350px;
    top: 310px;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    animation: glow 0.8s infinite 0.4s alternate ease-in;
}
@media screen and (max-width:1275px) {
    .active{
        display: none;
    }
}
@keyframes glow{
    from{
        background-color:rgb(25, 52, 255);
    }
    to{
        background-color: rgb(206, 235, 249);
    }
}

.div_name{
    text-align: center;
    line-height: 30px;

}
.div_image{
    height: 60%;
    width: 65%;
}
.para_backend{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    line-height: 60px;
    letter-spacing: 1px;
    font-size: 12px;
}
.about_section_image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid rgb(70, 70, 255);
}
.about_section_image:hover{
    border-color: rgb(78, 206, 163);
    cursor: pointer;
}
.about_section_my_name{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.about_me_desc_section{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    width: 60%;
    height: 100vh;
    gap: 5px;
}
.about_me_name{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.about_me_desc_main_head{
    font-size: 30px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;  
}
.prob_solv{
    color: rgb(73, 73, 255);
}
.my_desc{
    display: flex;
    height: 22%;
    width: 100%;
}

.my_desc_image_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    border-radius: 20%;
    border-right: 1px solid rgb(67, 96, 139); 
}

@media screen and (min-width:1000px){
    .about_me_head{
    display: none;
    font-size: 20px;
    }
}
@media screen and (max-width:1100px){
    .my_desc_image_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border-right: 1px solid rgb(67, 96, 139);
    }
    .div_image{
    height: 60%;
    width: 70%;
}
}
@media screen and (max-width:1000px){
    .my_desc_image_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border-right: 1px solid rgb(67, 96, 139);

    }
    .div_image{
    height: 60%;
    width: 80%;
}
}
@media screen and (max-width:900px){
    .about_main_section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .head_about{
        display: none;
    }
    .my_desc_image_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 100%;
}

#download_button{
    display: none;
}
.div_image{
    height: 60%;
    width: 90%;
}
}
.my_desc_para_div{
    padding-left:15px ;
    width: 70%;
    height: 100%;    
}
.my_desc_para_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.about_desc{
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width:600px){
    .about_desc{
    font-size: 12px;
}
}
.desc_image{
    width: 45%;
    height: 25%;

}
.download_resume{
    border:1px solid white;
    width: 110px;
    height: 40px;
    padding: 10px;
    color: aqua;
    border-radius: 10px;
    cursor: pointer;
}
.counter_box{
    flex-wrap: wrap;
    position:absolute;
    top:86%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 250px;
    padding: 10px;
    background-color: #050313;
}
.count_card{
    display: flex;
    border-radius: 13px;
    width: 200px;
    height: 100%;
    border: 2px solid rgba(33, 56, 139, 0.685);
    flex-direction: column;
    row-gap: 7px;
    justify-content: center;
    align-items: center;
    transition: width 0.6s ease-in , border-color 0.5s ease-in;
    box-shadow: 5px 5px 5px rgba(26, 30, 61, 0.459);
}
.count_card:hover{
    border-color: rgb(115, 188, 164);
    cursor: pointer;
    width: 195px;
}
.counter_image_div{
    border: 1px solid salmon;
    width: 60%;
    height: auto;
    text-align: center;
    border-radius: 100%;
    border: 1px solid rgb(37, 50, 109);
    padding: 31px;
}
.count_card_image{
    width:40px;
    height: 35px;
}
.count{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: rgb(231, 224, 214);
}
.count_card_name{
    color: white;
    letter-spacing: 1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width:800px){
    .count_card{
        width: 40%;
        height: auto;
        padding: 6px;
    }
    .counter_image_div{
        border: 1px solid salmon;
        width: 38%;
        height: auto;
        text-align: center;
        border-radius: 100%;
        border: 1px solid rgb(37, 50, 109);
        padding: 16px;
    }
    .count_card_image{
        width:25px;
        height: 25px;
    }
    .count{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    .count_card_name{
        color: white;
        font-size: 13px;
        letter-spacing: 1px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.main_skills_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    padding-top:20px ;
    margin-bottom: 100px;
    border-top: 1px solid rgb(40, 91, 95);
}
.skills_section{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    }

.skills_heading{
    font-size: 20px;
    color: rgb(60, 116, 220);
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
}
.skill_card{
    height: 25%;
    width: 100%;
    border: 1px solid rgb(81, 81, 119);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
    transition: width 0.7s , border-radius 0.5s ,border-left-color 2s;
}

.skill_info{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    color: aliceblue;
}
.skill_head{
 font-family: 'Space Grotesk', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #2211a9;
}
.skill_desc{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: rgb(180,180,180);
}
.skill_card:hover{
    cursor: pointer;
    background-color: rgb(15, 13, 32);
    width: 97%;
    border-radius: 20px;
    border-left-color: rgb(91, 244, 223);
    border-width: 2px;
}

.skills_section_head{
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 39px;
    text-align: center;
    color: azure;
}
.power{
    color: #1200dc;
    background-color: transparent;
}
.skills_section_desc{
     font-family: 'Inter', sans-serif;
     font-weight: 400;
     box-sizing: border-box;
     text-align: center;
     font-size: 14px;
     color: azure;
     letter-spacing: 0.5px;
}











.mySwiper{
    width:40%;
    height: 200px;
    overflow:hidden;
    order: 89;
}

.swiper-slide{
    display:flex;
    flex-direction: column;
    justify-content:center;
    row-gap: 10px;
    align-items:center;
    transition: 0;
}
.name_skill{
    display: none;
}
@media screen and (min-width:1000px) {
    .name_skill{
        display: block;
    }
}

.swiper-slide img{
    width:70px;
    height:70px;
    object-fit:contain;
    transition:1s;
}

.swiper-slide-prev img,
.swiper-slide-next img{
    opacity:0.3;
    transform:scale(0.7);
}

.swiper-slide-active img{
    opacity:1;
    width: 90px;
    height: 90px;
    transform:scale(1.5);
}

@media(max-width:900px){


    .mySwiper{
        width:90%;
        height: 50%;
    }

}
@media screen and (max-width:900px) {
    .swiper-slide-active img{
    opacity:1;
    width: 40px;
    height: 50px;
    transform:scale(1.3);
}
.skill_head{
    font-size: 20px;
}
.skill_desc{
    font-size: 12px;
    
}
.swiper-slide-active img{
    opacity:1;
    width: 70px;
    height: 50px;
    transform:scale(1.5);
}
}
@media screen and (max-width:700px) {
    .skill_desc{
        display: none;
    }
    .swiper-slide-active img{
    opacity:1;
    width: 50px;
    height: 60px;
    transform:scale(1.5);
}
.prog_div{
    text-align: center;
}
.swiper-slide-active img{
    opacity:1;
    width: 60px;
    height: 50px;
    transform:scale(1.5);
}

}


.contact{
    position: relative;
}

.contact_section{
    background-image: url("./yashcontact3.png");
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-size: cover;
    background-position: right center;
}

.head_div{
    width: 400px;
    height: 60px;
    color:white;

}
.contact_section_sub{
    padding: 90px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contact_heading{
    font-size: 40px;
    color: rgb(77, 115, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact_div{

    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    row-gap: 10px;
    position: relative;
}
#each_div1{
    position:relative;
    left: 70px;
}
#each_div2{
    position:relative;
    left: 70px;
}
.each_contact_div{
    border: 1px solid rgb(55, 30, 126);
    padding: 10px;
    width: 82%;
    height: 60px;
    display: grid;
    align-items: center;
    border-radius: 0px 15px 0px 15px;
    background-color: #4c438f59;
    grid-template-columns: 2fr 10fr;
    grid-gap: 2px;
    backdrop-filter:blur(10px);
    transition: transform 0.5s;
}
.each_contact_div:hover{
    transform: scaleY(3);
}
.socio_image{
    height: 35px;
    width: 35px;
}
.socio_name{
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
}

.head_div1{
    color: rgb(255, 255, 255);
    width: 500px;
}
@media screen  and (max-width:900px){
    .head_div1{
        display: none;
    }
}














.footer_section{
    padding: 30px;
    position:absolute;
    top: 80%;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #818181;
    row-gap: 10px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    color: rgb(8, 0, 156);
    box-shadow: rgba(0, 0, 231, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.info_div{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.form_div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: rgb(37, 21, 21);
}
.input_class{
    background-color: white;
    border: 0px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
}
.feild{
    line-height: 40px;
}

.footer_button{
    border: 1px solid rgb(49, 82, 0);
    padding: 8px;
    color: rgb(173, 172, 172);
    width: 100px;
    font-size: 15px;
    border-radius: 12px;
    background-color: rgb(4, 89, 7);
    transition: background-color 0.5s , color 0.6s , width 0.5s;
}
.footer_button:hover{
    background-color: #16b3d3;
    cursor: pointer;
    color: #050313;
    width: 110px;
}





/* .contact_section{
    width:100%;
    min-height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
    ),
    url("./yashcontact3.png");

    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.contact_section_sub{
    padding:80px 8%;
    display:flex;
    flex-direction:column;
    gap:25px;
    max-width:600px;
}

.contact_heading{
    font-size:50px;
    color:#00d9ff;
    font-family:'Poppins',sans-serif;
    font-weight:700;
}

.contact_para{
    color:white;
    font-size:18px;
    line-height:1.8;
    max-width:500px;
}

.contact_div{
    display:flex;
    flex-direction:column;
    gap:15px;
    width:100%;
    max-width:400px;
}

.each_contact_div{
    display:flex;
    align-items:center;
    gap:20px;

    padding:15px 20px;

    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);

    border:1px solid rgba(0,217,255,0.2);
    border-radius:15px;

    transition:0.4s;
}

.each_contact_div:hover{
    transform:translateX(8px);
    border-color:#00d9ff;
    box-shadow:0 0 20px rgba(0,217,255,0.3);
}

.socio_image{
    width:40px;
    height:40px;
}

.socio_name{
    color:white;
    font-size:20px;
    font-family:'Poppins',sans-serif;
}

.footer_section{
    height:60px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    background:#07113d;
    font-size:15px;
} */